<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogSplitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogSplitor.Properties.Settings>
            <setting name="LastInputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFilterConditions" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMatchAllCondition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDirectoryMode" serializeAs="String">
                <value>False</value>
            </setting>
        </LogSplitor.Properties.Settings>
    </userSettings>
</configuration>